@model ServiceBook.Models.Vehelices

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row col-12">

    <div class="card col-5 Register-Card mx-auto">
        <h5 class="card-header Register-Card-Header">Czy jestes pewny, że chcesz usunąć ten samochód?</h5>
        <div class="card-body Register-Card-Body">
            <div>
                <dl class="dl-horizontal">

                    <dd>
                        @Html.DisplayFor(model => model.mark.markName)
                    </dd>

                    <dd>
                        @Html.DisplayFor(model => model.veheliceName)
                    </dd>

                    <dd>
                        @Html.DisplayFor(model => model.engineId)
                    </dd>

                    <dd>
                        @Html.DisplayFor(model => model.engineCapacity)
                    </dd>

                    <dd>
                        @Html.DisplayFor(model => model.productionYear)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()

                <div class="nav flex-column table alight: left">
                    <input class="btn btn-secondary respansywnyButton" type="submit" value="Delete" />
                </div>
                }
            </div>

            <div class="nav flex-column table alight: left">
                <a href="../../Customer/ShowMyVehicles" class="btn btn-secondary respansywnyButton" role="button"><p>Anuluj</p></a>
            </div>


        </div>
    </div>

</section>